<nav class="navbar" style="background-color: #4caf50;">
    <div class="container-fluid d-flex justify-content-start align-items-center">
        <a class="nav-link fw-bold ms-3" style="color: white;" href="/Book/List">Home</a>
        <a class="nav-link fw-bold ms-3" style="color: white;" href="/Author/List">Authors</a>
        <a class="nav-link fw-bold ms-3" style="color: white;" href="/Home/About">About</a>
    </div>
</nav>


