@model AuthorViewModel

<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-header" style="background-color: #4caf50; color: white;" class="text-center fw-bold fs-3 rounded-top-4">
                <i class="fas fa-user-edit me-2"></i>Add Author
            </div>
            <div class="card-body p-4">
                <form method="post" asp-controller="Author" asp-action="Create">
                    <div class="form-floating mb-4">
                        <input asp-for="FirstName" class="form-control border-primary rounded-3" id="floatingFirstName" placeholder="First Name" type="text" />
                        <label for="floatingFirstName">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger mt-2 fw-bold"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <input asp-for="LastName" class="form-control border-primary rounded-3" id="floatingLastName" placeholder="Last Name" type="text" />
                        <label for="floatingLastName">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger mt-2 fw-bold"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <input asp-for="DateOfBirth" class="form-control border-primary rounded-3" id="floatingDateOfBirth" placeholder="YYYY-MM-DD" type="text" />
                        <label for="floatingDateOfBirth">Date of Birth</label>
                        <span asp-validation-for="DateOfBirth" class="text-danger mt-2 fw-bold"></span>
                    </div>

                    <button type="submit" class="btn" style="background-color: #4caf50; color: white; w-100 py-3 rounded-3 fw-bold">
                        <i class="fas fa-paper-plane me-2"></i>Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
