@model LibraryManagementSystem.Models.Author

<div class="card shadow-lg border-0 rounded-4 mt-4" style="background-color: white;">
    <div class="card-body p-4">
        <h5 class="card-title" style="color: #4caf50;"><strong>First Name:</strong> @Model.FirstName</h5>
        <p class="card-text" style="color: #4caf50;"><strong>Last Name:</strong> @Model.LastName</p>
        <p class="card-text" style="color: #4caf50;"><strong>Date of Birth:</strong> @Model.DateOfBirth.ToString("MMMM, dd, yyyy")</p>
    </div>
</div>

